.mainpage{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}
.sideL{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 50px;
    
}
.sideR{
    display: flex;
    flex-direction:column ;
    width: 50%;
    
}
.lineone{
    display: flex;
   

}
.img{
    width: 30px;
}
h3{
    margin: 0 20px;
}
h5{
    margin: 0 30px;
}
hr{
    width: 150px;
    color: orange;
    border: solid 2px;
    margin: 0 5px;    
}
.sideR{
    display: block;
    justify-content: start;
    flex-direction: row-reverse;
    margin: 0 50px;
}
.box{
    display: block;
    width: 40%;
    height: 30px;
    margin:20px 10px;

}
.box:last-child{
    width: 90%;
    height: 90px;
}
button{
    background-color: rgb(88, 87, 87);
    color: rgb(235, 163, 8);
    border-radius: 3px;
    border: none;
    font-size: 35px;
}
footer{
    background-color: rgb(88, 87, 87);
    text-align: center;
    height: 60px;
    width: 100%;
}